.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 60px;
    cursor: pointer;
  }

  iframe {
    border-radius: 10px;
  }

  .playerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
}